@page
@model CountryInformationApp.Pages.CountriesModel
@{
    ViewData["Title"] = "Country Information";
}

<div id="countries-page">
    <div class="page-title text-center">
        <h1 class="display-4">Country Information</h1>
    </div>

    @* Select Dropdown *@
    <div class="countries-container">        
        <div class="country-select-container">
            @* Loading Overlay *@
            <div id="loading-overlay" class="loading-overlay">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
            @* Country Select *@
            <label class="country-select-label">To view information about a country, select one from the menu below</label>
            <select id="country-select" class="form-select">
                <option value="">Select a country</option>
            </select>
        </div>
        @* Country Info Card *@
        <div id="country-info-container"></div>
    </div>


</div>

