@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">@Model.Project</h1>
    <p>Build a one-page application using ASP.NET Web API for the back-end, and an ASP.NET Web App (either MVC or Razor Pages), along with Yarn, Bootstrap, Sass, JavaScript or TypeScript for the front-end. </p>
    <div class="country-information-img">
        <p class="click-img-prompt">With the 2024 Paris Olympics fresh on our minds, click the image below to learn about different countries</p>
        <a class="countries-nav-link" asp-area="" asp-page="/Countries">
            <img src="~/images/country-flag-collage.png" alt="Country Flag Collage" class="img-fluid" />
        </a>
    </div>
</div>
