@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Chocolatey Software - Technical Task</h1>
    <p>Build a one-page application using .NET 8 ASP.NET MVC Web API, Razor Pages, Yarn, Bootstrap, Sass, JavaScript or TypeScript. </p>
  @*<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
