@import '_variables.scss';

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;

    .navbar {
        background-color: $primary;
    }

    .nav-link {
        color: white !important;
        font-weight: bold;
    }
}


.countries-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .country-select-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1.5rem;

        .country-select-label {
            margin-bottom: .5rem !important;
        }
    }

    .loading-overlay {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        justify-content: center;
        color: $light-gray;
    }

    .spinner-border {
        width: 3rem;
        height: 3rem;
        border-width: 0.4em;
    }
}