html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
body .navbar {
  background-color: #1976d2;
}
body .nav-link {
  color: white !important;
  font-weight: bold;
}
body .linkedin-link {
  display: flex;
  justify-content: end;
}
body .countries-nav-link {
  color: #1976d2;
  font-weight: bold;
}
body .country-information-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .country-information-img p.click-img-prompt {
  margin-bottom: 1rem;
}

/*Countries Page*/
.countries-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.countries-container .country-select-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}
.countries-container .country-select-container .country-select-label {
  margin-bottom: 0.5rem !important;
}
.countries-container .loading-overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  color: #d3d3d3;
}
.countries-container .spinner-border {
  width: 3rem;
  height: 3rem;
  border-width: 0.4em;
}
